In [6]:
import ibm_db

In [7]:
#Credentials
dsn_hostname = "dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net" 
dsn_uid = "cbn72876"        
dsn_pwd = "8cchf-g04mvsft51"    

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"           
dsn_port = "50000"                
dsn_protocol = "TCPIP"

In [8]:
#Create the dsn connection string
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd)

In [9]:
print(dsn)

DRIVER={IBM DB2 ODBC DRIVER};DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net;PORT=50000;PROTOCOL=TCPIP;UID=cbn72876;PWD=8cchf-g04mvsft51;

In [10]:
#Conecction

try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to database:  BLUDB as user:  cbn72876 on host:  dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net

In [11]:
#Retrieve Metadata for the Database Server
server = ibm_db.server_info(conn)

print ("DBMS_NAME: ", server.DBMS_NAME)
print ("DBMS_VER:  ", server.DBMS_VER)
print ("DB_NAME:   ", server.DB_NAME)

DBMS_NAME:  DB2/LINUXX8664
DBMS_VER:   11.01.0404
DB_NAME:    BLUDB

In [12]:
#Retrieve Metadata for the Database Client / Driver
client = ibm_db.client_info(conn)

print ("DRIVER_NAME:          ", client.DRIVER_NAME) 
print ("DRIVER_VER:           ", client.DRIVER_VER)
print ("DATA_SOURCE_NAME:     ", client.DATA_SOURCE_NAME)
print ("DRIVER_ODBC_VER:      ", client.DRIVER_ODBC_VER)
print ("ODBC_VER:             ", client.ODBC_VER)
print ("ODBC_SQL_CONFORMANCE: ", client.ODBC_SQL_CONFORMANCE)
print ("APPL_CODEPAGE:        ", client.APPL_CODEPAGE)
print ("CONN_CODEPAGE:        ", client.CONN_CODEPAGE)

DRIVER_NAME:           DB2CLI.DLL
DRIVER_VER:            11.05.0500
DATA_SOURCE_NAME:      BLUDB
DRIVER_ODBC_VER:       03.51
ODBC_VER:              03.01.0000
ODBC_SQL_CONFORMANCE:  EXTENDED
APPL_CODEPAGE:         1252
CONN_CODEPAGE:         1208

In [15]:
stmt = ibm_db.exec_immediate(conn, """CREATE TABLE Trucks(serial_no varchar(20) PRIMARY KEY NOT NULL,
                            model VARCHAR(20) NOT NULL,
                            manufacturer VARCHAR(20) NOT NULL,
                            Engine_size VARCHAR(20) NOT NULL,
                            Truck_Class VARCHAR(20) NOT NULL)""")

In [17]:
stmt = ibm_db.exec_immediate(conn, 
"""INSERT INTO Trucks(serial_no, model, manufacturer, Engine_size, Truck_Class)
VALUES ('A1234', 'Lonestar', 'Internacional Trucks', 'Cummins ISX15','Class 8' );
""")

In [18]:
stmt = ibm_db.exec_immediate(conn, 
"""INSERT INTO Trucks(serial_no, model, manufacturer, Engine_size, Truck_Class)
VALUES ('B5432', 'Volvo VN', 'Volvo Trucks', 'Volvo D11','Heavy Duty Class 8' );
""")

In [19]:
stmt = ibm_db.exec_immediate(conn, 
"""INSERT INTO Trucks(serial_no, model, manufacturer, Engine_size, Truck_Class)
VALUES ('C5674', 'Kenworth W900', 'Kenworth Truck Co', 'Caterpillar C9','Class 8' );
""")

In [21]:
#SELECT ALL

stmt = ibm_db.exec_immediate(conn, "SELECT * FROM Trucks")

ibm_db.fetch_both(stmt)

{'SERIAL_NO': 'A1234',
 0: 'A1234',
 'MODEL': 'Lonestar',
 1: 'Lonestar',
 'MANUFACTURER': 'Internacional Trucks',
 2: 'Internacional Trucks',
 'ENGINE_SIZE': 'Cummins ISX15',
 3: 'Cummins ISX15',
 'TRUCK_CLASS': 'Class 8',
 4: 'Class 8'}